<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Yesuf Fenta</h2>
            <h4>yesuf023@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Yesuf Fenta">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="../admin/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a>

    <mat-divider></mat-divider>
    <h2 matSubheader>Fixed Assets</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="../admin/insert"><mat-icon>list</mat-icon>Insert Assets</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="../admin/distribute">Distribute Assets</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Tranfer Assets</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Others</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Phones
    </a>

</mat-nav-list>