<mat-toolbar color="primary">My Dashboard</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="cards" style="margin: 42px 42px 42px 42px;">

  <mat-card fxFlex="25"  class="card1" style="height: 130px;"> 
    <div class="text">  
        <p style="font-size: 2em;  font-weight: 900;"> {{ totalAssets }}  </p>
        <p style="font-size: 12px;">TOTAL ASSETS</p>
    </div>
  </mat-card>

  <mat-card fxFlex="25" class="card2"  style="height: 130px;">
    <div class="text">
        <P style="font-size: 2em;  font-weight: 900;">{{ distrubuteAssets }}</P>
        <P style="font-size: 12px;">DISTRBUTED ASSETS</P>
    </div>
  </mat-card> 

  <mat-card fxFlex="25" class="card3"  style="height: 130px;">
    <div class="text">
        <P style="font-size: 2em;  font-weight: 900;">{{ transferAssets }}</P>
        <P style="font-size: 12px;">TRANSFER ASSETS<P>
    </div>
   </mat-card> 

    <mat-card fxFlex="25"  class="card4" style="height: 130px;">
    <div class="text">
            <P style="font-size: 2em;  font-weight: 900;">{{ distroyAssets }}</P>
            <P style="font-size: 12px;">DESTROYED ASSETS</P>
        </div>
    </mat-card> 

</div> 



<div id="chart">
  <apx-chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [dataLabels]="chartOptions.dataLabels"
  [plotOptions]="chartOptions.plotOptions"
  [xaxis]="chartOptions.xaxis"
   >
  </apx-chart>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
  <apx-chart
    [series]="chartOptionss.series"
    [chart]="chartOptionss.chart"
    [xaxis]="chartOptionss.xaxis"
    [dataLabels]="chartOptionss.dataLabels"
    [grid]="chartOptionss.grid"
    [stroke]="chartOptionss.stroke"
    [title]="chartOptionss.title"
  ></apx-chart>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div id="chartpie">
  <apx-chart
    [series]="chartOptionsss.series"
    [chart]="chartOptionsss.chart"
    [labels]="chartOptionsss.labels"
    [fill]="chartOptionsss.fill"
    [dataLabels]="chartOptionsss.dataLabels"
    [responsive]="chartOptionsss.responsive"
  ></apx-chart>
</div>

<div id="chart">
  <apx-chart
    [series]="chartOption.series"
    [chart]="chartOption.chart"
    [dataLabels]="chartOption.dataLabels"
    [plotOptions]="chartOption.plotOptions"
    [yaxis]="chartOption.yaxis"
    [legend]="chartOption.legend"
    [xaxis]="chartOption.xaxis"
    [stroke]="chartOption.stroke"
    [tooltip]="chartOption.tooltip"
    [fill]="chartOption.fill"
    [states]="chartOption.states"
    [title]="chartOption.title"
  ></apx-chart>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
  <apx-chart
    [series]="chartOptionn.series"
    [chart]="chartOptionn.chart"
    [yaxis]="chartOptionn.yaxis"
    [xaxis]="chartOptionn.xaxis"
    [labels]="chartOptionn.labels"
    [stroke]="chartOptionn.stroke"
    [title]="chartOptionn.title"
    [dataLabels]="chartOptionn.dataLabels"
    [fill]="chartOptionn.fill"
    [tooltip]="chartOptionn.tooltip"
  ></apx-chart>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
  <apx-chart
    [series]="chartOptionnn.series"
    [chart]="chartOptionnn.chart"
    [labels]="chartOptionnn.labels"
    [dataLabels]="chartOptionnn.dataLabels"
    [title]="chartOptionnn.title"
    [fill]="chartOptionnn.fill"
    [states]="chartOptionnn.states"
    [plotOptions]="chartOptionnn.plotOptions"
    [stroke]="chartOptionnn.stroke"
    [theme]="chartOptionnn.theme"
    [responsive]="chartOptionnn.responsive"
  ></apx-chart>
</div>

<div id="chart">
  <apx-chart
    [series]="series"
    [chart]="chart"
    [title]="title"
  ></apx-chart>
  </div>

  <div class="chartContainer">
    <apx-chart [series]="chartSeries" [chart]="chartDetails" [labels]="chartLabels" [title]="chartTitle" [dataLabels]="chartDataLabels"></apx-chart>
</div>