P {
    text-align: right;
    justify-content: center;
    }
    
.text {
    margin-top: 40px;
    margin-right: 30px;
    }

.cards {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.card1 { 
    background: linear-gradient( #272343,#2d334a);
    color: #fffffe;    
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    } 

.card2 { 
    background: linear-gradient( #e16162,#1f1235);
    color: #fffffe;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    } 

.card3 { 
    background: linear-gradient( #faae2b,#00473e);
    color: #fffffe;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    } 
.card4 {  
    background: linear-gradient( #078080, #078080);
    color: #fffffe;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    } 

.card1:hover {
    transform: scale(1.1);
    color: #eebbc3;
    }
      
.card2:hover {
    transform: scale(1.1);
    color: #4fc4cf;
    } 
      
.card3:hover {
    transform: scale(1.1);
    color: #bae8e8;
    }
      
.card4:hover {
    transform: scale(1.1);
    color: #ff8906;
    } 
    
    